{{ attach_library('tara/slider') }}
<section id="slider">
  <div class="container">
    <ul class="owl-carousel home-slider">
      {% if slider_code != '' %}
        {{ slider_code | striptags('<ol>,<ul>,<li>,<p>,<a>,<img>,<video>,<h1>,<h2>,<h3>,<h4>,<h5>,<h6>,<em>,<strong>,<br>,<i>,<div>,<span>,<button>') | raw }}
      {% else %}
      <li>
        <h1>Credit Cards for your Needs</h1>
        <p>100+ Credit Cards From All Leading Providers</br>
           Choose Best Credit Card Suiting Your Needs</br>
           To Submit Application</p>
        <br />
        <a class="button" href="/credit-cards">Click here</a>
      </li>
      <li>
        <h1>Get Personal Loan</h1>
        <p>Compare & Choose the Best Offer</br>
        Check Loan Amount Eligibility</br>
        Know Your credit score
        </p>
        <br />
        <a class="button" href="/personal-loan">Click here</a>
      </li>
      <li>
        <h1>Home Loans</h1>
        <p>Unlock your dream home with hassle-free Home Loans</p>
        <br />
        <a class="button" href="/home-loan">Click here</a>
      </li>
      <li>
        <h1>Business Loan</h1>
        <p>Apply for Business Loan Online at Lowest Interest Rate</p>
        <br />
        <a class="button" href="/business-loan">Click here</a>
      </li>
      {% endif %}
    </ul> <!--/.home-slider -->
  </div>
</section>
